<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'book/standard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'book/form.css' %}">
</head>
<body>

<div id="wrapper">
  <header>
    <h1><img src="{% static 'book/images/title.png' %}" alt="Crossover Courts Booking" width="750"
height="125"></h1>
  </header>
  <div id="leftcolumn">
    <nav>
	 <ul>
   <li><a href="{% url 'book:index' %}">Home</a></li>
      <li><a href="{% url 'book:courts' %}">Courts</a></li>
      <li><a href="{% url 'book:book_courts'%}">Booking</a></li>
	    <li><a href="{% url 'book:my_booking'%}">My Booking</a></li>
      <li><a href="{% url 'book:about'%}">About Us</a></li>
	 </ul>
    </nav>
  </div>
  <div id="rightcolumn">
	<div class="content"> 
    <a id="floatright" href="{% url 'book:logout' %}"><button>Log Out</button></a>
  	<a id="floatright" href="{% url 'book:login' %}"><button>Log In</button></a>
    {% block content%}
    
    {% endblock%}
    </div>
  </div>
    <footer>Copyright &copy; Crossover Courts Booking<br>
	<a href="mailto:crossover@gmail.com">crossover@gmail.com</a>
    </footer>
</div>
</body>
</html>